$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$custom-icon-burger: unquote('"\\e900"');
$custom-icon-close: unquote('"\\e901"');
$custom-icon-down: unquote('"\\e902"');
$custom-icon-up: unquote('"\\e903"');
$custom-icon-go-link: unquote('"\\e904"');

